<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    #app {
      font-family: 'Karla', sans-serif;
      background-color: blue;
      color: #000000;
    }

    span {
      background-color: #ffffff;
    }

    a {
      background-color: #ffffff;
      color: #000000 !important;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content class="ma-3">
        <span style="font-size: 74px;">ugly line art </span>
        <span style="font-size: 32px;">drawn by artifical "intelligence"</span>
        <div>
          <a href="github.com/98mprice">source code</a>
          <a href="github.com/98mprice">dataset (nsfw)</a>
          <a href="https://www.reddit.com/user/oppai_suika/">u/oppai_suika</a>
        </div>
        <div style='display:flex; position:absolute; top:0; bottom:0; right:0; left:0; '>
             <div style='margin:auto;'>
                  <div>
                    <a style="font-size: 32px;" @click="predict"> make me draw stuff <</a>
                  </div>
                  <div>
                    <a style="font-size: 32px;"> teach me to draw something <</a>
                  </div>
             </div>
        </div>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      methods: {
        predict: async function() {
          const response = await axios.get(`predict`)
          console.log(response.data)
        }
      }
    })
  </script>
</body>
</html>
